Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Update packages once again
  .gitignore
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/import-data-ts/example/package-lock.json
  package-lock.json
Due: core, cli

Update documentation
  core/README.md
  core/src/config.ts
Due: core

Fix building CLI Docker image
  docker-image/.dockerignore
  docker-image/dev.Dockerfile
Due: none

Update MongoDB driver to v5 and all other dependencies (#203)
  .gitignore
  cli/package-lock.json
  cli/package.json
  cli/test/integration/index.ts
  core/README.md
  core/package-lock.json
  core/package.json
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
  core/test/_helpers.ts
  core/test/integration/index.ts
  core/test/unit/database-connector.ts
  core/test/unit/importer.ts
  core/test/unit/transformer.ts
  docker-image/.dockerignore
  docker-image/dev.Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  docker-image/test/tester/src/index.js
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Fix typo in main Readme
  README.md
Due: none

Use ESLint to lint code manually and on CI
  .eslintrc.js
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  tslint.json
Due: none

Migrate Docker images to ghcr.io
  docker-image/README.md
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  examples/custom-docker-image/Dockerfile
  examples/import-data/README.md
  scripts/publish-npm-and-docker.sh
Due: none

Migrate Docker images to ghcr.io (#205)
  docker-image/README.md
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  examples/custom-docker-image/Dockerfile
  examples/import-data/README.md
  scripts/publish-npm-and-docker.sh
Due: none

Build multi-arch Docker image
  scripts/publish-npm-and-docker.sh
Due: none

Build multi-arch Docker image (#206)
  scripts/publish-npm-and-docker.sh
Due: none

Bump all dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/_importdata/tsconfig.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Bump all dependencies (#207)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/_importdata/tsconfig.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

WIP
  cli/bin/seed.js
  cli/package.json
  cli/tsconfig.json
  core/package.json
  core/src/common/logger.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
  core/test/integration/populator.ts
  core/tsconfig.json
  docker-image/test/_importdata/cliarrays/2-array.ts
  docker-image/test/_importdata/cliobjects/3-obj.ts
  package.json
Due: core, cli

WIP
  core/src/config.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
  core/test/integration/_importdata/populator-docs/object/object.mjs
  core/test/integration/index.ts
  core/test/integration/populator.ts
  core/test/unit/FileSystem.ts
  core/test/unit/config.ts
Due: core

Update tests
  cli/package.json
  cli/src/index.ts
  cli/src/options.ts
  cli/test/integration/_importdata/cliarrays/4-array.mjs
  cli/test/integration/_importdata/cliobjects/4-obj.mjs
  cli/test/integration/index.ts
  core/README.md
  core/src/config.ts
Due: core, cli

WIP
  core/package-lock.json
  core/package.json
  core/src/populator/filesystem.ts
  core/test/integration/populator.ts
  core/test/unit/FileSystem.ts
Due: core

WIP
  core/package.json
  core/src/populator/filesystem.ts
  core/test/unit/FileSystem.ts
  core/tsconfig.json
Due: core

Update dependencies
  .eslintrc.js
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/src/index.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#210)
  .eslintrc.js
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/src/index.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  package-lock.json
  package.json
Due: core, cli

Fix package-lock.json for CLI and downgrade Prettier
  cli/package-lock.json
  package-lock.json
  package.json
Due: cli

Bump version to v3.8.0-alpha.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
Due: core, cli

Improve underlying error wrapping
  cli/test/tsconfig.json
  cli/tsconfig.json
  core/package-lock.json
  core/package.json
  core/src/index.ts
  core/test/tsconfig.json
  core/tsconfig.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: cli

Replace polyfill
  core/package-lock.json
  core/package.json
  core/src/index.ts
Due: core

Get rid of error wrapping
  core/package-lock.json
  core/package.json
  core/src/index.ts
  core/test/integration/index.ts
Due: core

Get rid of error wrapping and update dependencies
  cli/package-lock.json
  cli/test/tsconfig.json
  cli/tsconfig.json
  core/src/index.ts
  core/test/tsconfig.json
  core/tsconfig.json
  package-lock.json
Due: core, cli

Get rid of error wrapping (#213)
  cli/package-lock.json
  core/package-lock.json
  core/src/index.ts
  core/test/integration/index.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Rework merging DB connection configuration
  cli/src/options.ts
  core/package-lock.json
  core/package.json
  core/src/config.ts
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/index.ts
  core/test/integration/database-connector.ts
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/config.ts
  core/test/unit/database-connector.ts
Due: core, cli

Rework merging DB connection configuration (#214)
  cli/src/options.ts
  core/package-lock.json
  core/package.json
  core/src/config.ts
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/index.ts
  core/test/integration/database-connector.ts
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/config.ts
  core/test/unit/database-connector.ts
Due: core, cli

Bump Lerna
  lerna.json
  package-lock.json
  package.json
Due: none

Bump version to v4.0.0-alpha.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
Due: core, cli

Fix updating dependencies script
  scripts/update-dependencies.sh
Due: none

Introduce Volta for Node version management
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  CONTRIBUTING.md
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
  package.json
Due: core, cli

Force resolving peer dependencies
  package.json
Due: none

Introduce Volta for Node version management and update dependencies (#216)
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  CONTRIBUTING.md
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
  package.json
  scripts/update-dependencies.sh
Due: core, cli

Bump version to v4.0.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
  package-lock.json
Due: core, cli

Remove `linux/arm/v7` from multi-arch Docker image
  scripts/publish-npm-and-docker.sh
Due: none

Remove `linux/arm/v7` from multi-arch Docker image (#218)
  scripts/publish-npm-and-docker.sh
Due: none

Path conditions:
  core: any of: core/
  cli: any of: cli/
