Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Use Github Actions to upload coverage
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  cli/package-lock.json
  cli/package.json
  codecov.yml
  core/package-lock.json
  core/package.json
Due: core, cli

Migrate CI pipelines to GitHub Actions (#140)
  .dockerignore
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  .travis.yml
  cli/.ci/script.sh
  cli/.dockerignore
  cli/.npmignore
  cli/Dockerfile
  cli/package-lock.json
  cli/package.json
  cli/test/integration/index.ts
  codecov.yml
  core/.ci/script.sh
  core/.dockerignore
  core/Dockerfile
  core/package-lock.json
  core/package.json
  docker-image/.ci/after_success.sh
  docker-image/.ci/script.sh
  docker-image/.dockerignore
  docker-image/build.sh
  docker-image/test/tester/.dockerignore
  docker-image/test/tester/src/index.js
  package.json
  scripts/publish-npm-and-docker.sh
  scripts/update-dependencies.sh
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/unit/database-connector.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#141)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/unit/database-connector.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
  package.json
Due: core, cli

Disable require cache while loading other files than JSON
  core/package-lock.json
  core/package.json
  core/src/populator/filesystem.ts
  core/test/unit/FileSystem.ts
Due: core

Disable require cache while loading other files than JSON (#142)
  core/package-lock.json
  core/package.json
  core/src/populator/filesystem.ts
  core/test/unit/FileSystem.ts
Due: core

Add ability to configure EJSON parsing behavior
  cli/README.md
  cli/src/index.ts
  cli/src/types.ts
  core/README.md
  core/src/config.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
Due: core, cli

Refactor loading CLI specific options
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  cli/test/integration/index.ts
  cli/test/unit/index.ts
  cli/test/unit/options.ts
  core/test/integration/populator.ts
  core/test/unit/FileSystem.ts
  core/test/unit/config.ts
  core/test/unit/populator.ts
Due: core, cli

Allow configuring EJSON mode while parsing JSON files (#143)
  cli/README.md
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  cli/test/integration/index.ts
  cli/test/unit/index.ts
  cli/test/unit/options.ts
  core/README.md
  core/src/config.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
  core/test/integration/populator.ts
  core/test/unit/FileSystem.ts
  core/test/unit/config.ts
  core/test/unit/populator.ts
Due: core, cli

Bump version to v3.6.0-alpha.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Use Node 14 in base Docker image
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  scripts/publish-npm-and-docker.sh
Due: none

Use Node 14 in base Docker image (#144)
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  scripts/publish-npm-and-docker.sh
Due: none

Fix CLI exit code on error
  cli/src/index.ts
  cli/test/integration/_importdata/empty/.gitkeep
  cli/test/integration/index.ts
Due: cli

Fix CLI exit code on error (#146)
  cli/src/index.ts
  cli/test/integration/_importdata/empty/.gitkeep
  cli/test/integration/index.ts
Due: cli

Bump version to v3.6.0-alpha.1
  cli/package-lock.json
  cli/package.json
  lerna.json
Due: cli

Remove unused script
  .ci/run_in_all_projects.sh
Due: none

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#150)
  cli/package-lock.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.6.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Add option to remove all documents from collections being seeding
  cli/README.md
  cli/package-lock.json
  cli/src/options.ts
  cli/src/types.ts
  cli/test/unit/options.ts
  core/src/config.ts
  core/src/database/database.ts
  core/src/index.ts
  core/test/integration/_importdata/remove-docs/new-state/import-one/test1.json
  core/test/integration/_importdata/remove-docs/old-state/import-one/test1.json
  core/test/integration/_importdata/remove-docs/old-state/import-one/test2.js
  core/test/integration/_importdata/remove-docs/old-state/import-two/test3.json
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/config.ts
Due: core, cli

Add option to remove all documents from collections being seeding (#149)
  cli/README.md
  cli/package-lock.json
  cli/src/options.ts
  cli/src/types.ts
  cli/test/unit/options.ts
  core/src/config.ts
  core/src/database/database.ts
  core/src/index.ts
  core/test/integration/_importdata/remove-docs/new-state/import-one/test1.json
  core/test/integration/_importdata/remove-docs/old-state/import-one/test1.json
  core/test/integration/_importdata/remove-docs/old-state/import-one/test2.js
  core/test/integration/_importdata/remove-docs/old-state/import-two/test3.json
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/config.ts
Due: core, cli

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Add tests for edge cases for Database
  core/test/integration/database.ts
Due: core

Update dependencies (#151)
  cli/package-lock.json
  core/package-lock.json
  core/test/integration/database.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Bump version to v3.7.0-alpha.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Update dependencies (#167)
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Bump version to v3.7.0-alpha.1
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Rename `master` branch to `main`
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  CONTRIBUTING.md
  README.md
  cli/README.md
  core/README.md
  core/src/index.ts
  docker-image/README.md
Due: core, cli

Rename `master` branch to `main` (#175)
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  CONTRIBUTING.md
  README.md
  cli/README.md
  core/README.md
  core/src/index.ts
  docker-image/README.md
Due: core, cli

Update changelog configuration
  lerna.json
Due: none

Update changelog configuration (#176)
  lerna.json
Due: none

Fix unstable integration test
  core/test/integration/index.ts
Due: core

Fix unstable integration test (#177)
  core/test/integration/index.ts
Due: core

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update base Docker images to Node 15
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  examples/custom-docker-image/Dockerfile
Due: none

Update Node.js dependencies and base Docker images (#174)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Remove dev dependencies for git pre-commit hooks
  package-lock.json
  package.json
  scripts/git-hooks/pre-commit
  scripts/publish-npm-and-docker.sh
  scripts/update-dependencies.sh
Due: none

Remove development dependencies for managing git pre-commit hooks (#178)
  package-lock.json
  package.json
  scripts/git-hooks/pre-commit
  scripts/publish-npm-and-docker.sh
  scripts/update-dependencies.sh
Due: none

Fix CI build badge
  docker-image/README.md
Due: none

Path conditions:
  core: any of: core/
  cli: any of: cli/
