Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Bump version to v4.0.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
  package-lock.json
Due: core, cli

Fix pushing the latest multi-arch Docker image
  scripts/publish-npm-and-docker.sh
Due: none

Fix pushing the latest multi-arch Docker image (#219)
  scripts/publish-npm-and-docker.sh
Due: none

Update dependencies for all packages
  cli/package-lock.json
  core/package-lock.json
  core/src/index.ts
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Use global Codecov token for code coverage report upload
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
Due: none

Update dependencies for all packages (#221)
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
  cli/package-lock.json
  core/package-lock.json
  core/src/index.ts
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#222)
  cli/package-lock.json
  core/package-lock.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v4.0.1
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
  package-lock.json
Due: core, cli

Update dependencies for all packages
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies for all packages (#223)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update Node.js to 22.15
  cli/package-lock.json
  cli/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package.json
Due: cli

Update Node.js to 22.15 (#224)
  cli/package-lock.json
  cli/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package.json
Due: cli

Bump version to v4.0.2
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
  package-lock.json
Due: core, cli

Path conditions:
  core: any of: core/
  cli: any of: cli/
