Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Bump version to v3.7.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Fix #180 - Added additional prod Dockerfile building image based on regular node image.
  docker-image/prod.Dockerfile.node
  scripts/publish-npm-and-docker.sh
Due: none

Update dependencies (#179)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

push versions to 4.1.1, remove @types/mongodb, push mongoose to 6.0.4
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
  package-lock.json
  package.json
Due: core, cli

remove collectionInsertManyOptions and MongoClient.isConnected
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/importer/index.ts
  core/src/index.ts
Due: core

Update NPM dependencies
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  core/package-lock.json
  core/package.json
  core/src/database/database-connector.ts
  core/src/index.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update NPM dependencies (#184)
  cli/package-lock.json
  cli/package.json
  cli/src/index.ts
  core/package-lock.json
  core/package.json
  core/src/database/database-connector.ts
  core/src/index.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update Docker images
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Due: none

Update Docker images (#185)
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Due: none

Include missing MongoDB driver types in production build
  core/package-lock.json
  core/package.json
Due: core

Include missing MongoDB driver types in production build (#186)
  core/package-lock.json
  core/package.json
Due: core

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  scripts/update-dependencies.sh
Due: core, cli

Update Node.js
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Due: none

Update all dependencies (#188)
  cli/package-lock.json
  core/package-lock.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  scripts/update-dependencies.sh
Due: core, cli

Fix tagging Docker image in publish script
  scripts/publish-npm-and-docker.sh
Due: none

Bump version to v3.7.1
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Bump dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Bump dependencies (#191)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Update dependencies (#192)
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Upgrade GitHub actions used in PR and branch pipelines
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
Due: none

Upgrade GitHub actions used in PR and branch pipelines (#193)
  .github/workflows/branch.yaml
  .github/workflows/pull-request.yaml
Due: none

Document overriding entrypoint and command for Docker image
  docker-image/README.md
Due: none

Document overriding entrypoint and command for Docker image (#194)
  docker-image/README.md
Due: none

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#195)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.7.2
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Update dependencies (#197)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
Due: core, cli

Update packages and Docker image metadata
  LICENSE
  cli/LICENSE
  cli/package.json
  core/LICENSE
  core/package.json
  docker-image/LICENSE
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package.json
  lerna.json
  package.json
Due: core, cli

Update packages and images metadata (#198)
  LICENSE
  cli/LICENSE
  cli/package.json
  core/LICENSE
  core/package.json
  docker-image/LICENSE
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package.json
  lerna.json
  package.json
Due: core, cli

Use nvm for selecting Node.js version
  .nvmrc
Due: none

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
Due: core, cli

Downgrade TypeScript to fix type issues with `@types/mongodb`
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  examples/import-data-ts/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#201)
  .nvmrc
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update MongoDB and all other dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  examples/mongoose-express/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Upgrade MongoDB for Core and CLI
  cli/test/integration/index.ts
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/populator.ts
  core/test/_helpers.ts
  core/test/integration/index.ts
  core/test/unit/database-connector.ts
  core/test/unit/importer.ts
  core/test/unit/transformer.ts
  docker-image/test/tester/src/index.js
Due: core, cli

Add workaround for dev building image
  cli/package-lock.json
  docker-image/dev.Dockerfile
Due: cli

Fix dev build of Mongo Seeding Docker image
  docker-image/dev.Dockerfile
  package.json
Due: none

Path conditions:
  core: any of: core/
  cli: any of: cli/
