Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Use native MongoDB retry (#117)
  core/README.md
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time.ts
  core/src/index.ts
  core/test/integration/database-connector.ts
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/database-connector.ts
  core/test/unit/time.ts
Due: core

Add example using Mongoose and Express
  examples/README.md
  examples/mongoose-express/README.md
  examples/mongoose-express/example/data/1-customers/customer.json
  examples/mongoose-express/example/data/2-menus/menu.json
  examples/mongoose-express/example/data/2-menus/menus.json
  examples/mongoose-express/example/data/3-orders/order.json
  examples/mongoose-express/example/data/command_seed.md
  examples/mongoose-express/example/index.js
  examples/mongoose-express/example/models/menu.js
  examples/mongoose-express/example/models/order.js
  examples/mongoose-express/example/package.json
Due: none

Update using yarn dev
  examples/mongoose-express/README.md
Due: none

Update dbname in example Mongoose and ExpressJS
  examples/mongoose-express/example/index.js
Due: none

Improve doc for the example
  examples/mongoose-express/README.md
  examples/mongoose-express/example/index.js
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
Due: none

Add example using Mongo Seeding with Mongoose and Express (#108)
  examples/README.md
  examples/mongoose-express/README.md
  examples/mongoose-express/example/data/1-customers/customer.json
  examples/mongoose-express/example/data/2-menus/menu.json
  examples/mongoose-express/example/data/3-orders/order.json
  examples/mongoose-express/example/data/command_seed.md
  examples/mongoose-express/example/index.js
  examples/mongoose-express/example/models/customer.js
  examples/mongoose-express/example/models/menu.js
  examples/mongoose-express/example/models/order.js
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
Due: none

Support .cjs file extension by default
  cli/src/index.ts
  core/README.md
  core/src/config.ts
  core/test/integration/_importdata/populator-docs/array/array.cjs
  core/test/integration/_importdata/populator-docs/object/object.cjs
  core/test/integration/_importdata/populator-docs/object/object.js
  core/test/integration/populator.ts
  core/test/unit/config.ts
  docs/import-data-definition.md
Due: core, cli

Support .cjs file extension by default (#120)
  cli/src/index.ts
  core/README.md
  core/src/config.ts
  core/test/integration/_importdata/populator-docs/array/array.cjs
  core/test/integration/_importdata/populator-docs/object/object.cjs
  core/test/integration/_importdata/populator-docs/object/object.js
  core/test/integration/populator.ts
  core/test/unit/config.ts
  docs/import-data-definition.md
Due: core, cli

Preserve stacktrace of original error
  core/src/index.ts
Due: core

Preserve stacktrace of original error (#121)
  core/src/index.ts
Due: core

Added transformer function in core, tests and updated README
  core/README.md
  core/src/transformer/transformer-functions.ts
  core/test/integration/index.ts
  core/test/unit/transformer.ts
Due: core

Enable option on CLI and docker image + update README
  cli/README.md
  cli/package-lock.json
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  docker-image/.ci/script.sh
  docker-image/README.md
  examples/import-data-ts/README.md
  examples/import-data/README.md
Due: cli

Remove invalid export from docker example
  examples/custom-docker-image/sample-data/helpers/index.js
Due: none

Remove invalid export from docker example (#124)
  examples/custom-docker-image/sample-data/helpers/index.js
Due: none

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#126)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/Dockerfile
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/Dockerfile
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/_helpers.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#127)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/_helpers.ts
  docker-image/test/tester/package-lock.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#128)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.5.0-alpha.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Updated README for timestamps env option
  cli/README.md
Due: cli

Revert readme formatting
  core/README.md
Due: core

Update dependencies
  .ci/update-packages.sh
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
Due: core, cli

Update dependencies (#130)
  .ci/update-packages.sh
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  examples/mongoose-express/example/package-lock.json
  examples/mongoose-express/example/package.json
  lerna.json
Due: core, cli

Splitted transformer in 2 functions + fix docker script + fix tests
  cli/README.md
  cli/src/index.ts
  cli/src/options.ts
  core/README.md
  core/src/transformer/transformer-functions.ts
  core/test/integration/index.ts
  core/test/unit/transformer.ts
  docker-image/.ci/script.sh
Due: core, cli

Added Date type to transformers + started fixing unit test
  cli/README.md
  core/src/transformer/transformer-functions.ts
  core/test/integration/index.ts
  core/test/unit/transformer.ts
Due: core, cli

Fix integration tests
  core/test/integration/index.ts
  docker-image/test/tester/src/index.js
Due: core

Bump version to v3.5.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  lerna.json
Due: core, cli

Fix reporting coverage for PR from forks
  core/.ci/script.sh
Due: core

Fix reporting coverage for PR from forks (#132)
  core/.ci/script.sh
Due: core

Introduce timestamp transformers (#129)
  cli/README.md
  cli/package-lock.json
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  core/README.md
  core/src/transformer/transformer-functions.ts
  core/test/integration/index.ts
  core/test/unit/transformer.ts
  docker-image/.ci/script.sh
  docker-image/README.md
  docker-image/test/tester/src/index.js
  examples/import-data-ts/README.md
  examples/import-data/README.md
Due: core, cli

Fix typo in cli README
  cli/README.md
Due: cli

Fix typo in CLI Readme (#133)
  cli/README.md
Due: cli

set a versionKey in each document
  core/src/transformer/transformer-functions.ts
Due: core

Move updating dependencies script to `scripts` directory
  package.json
  scripts/update-dependencies.sh
Due: none

Migrate branch build to GitHub Actions
  .dockerignore
  .github/workflows/branch.yaml
  .travis.yml
  cli/.ci/script.sh
  cli/.dockerignore
  cli/.npmignore
  cli/Dockerfile
  cli/package-lock.json
  cli/test/integration/index.ts
  core/.ci/script.sh
  core/.dockerignore
  core/Dockerfile
  docker-image/.ci/after_success.sh
  docker-image/.ci/script.sh
  docker-image/.dockerignore
  docker-image/build.sh
  docker-image/test/tester/.dockerignore
  docker-image/test/tester/src/index.js
  package.json
  scripts/update-dependencies.sh
Due: core, cli

Migrate PR build
  .github/workflows/pull-request.yaml
Due: none

Add script for publishing NPM package and Docker image
  package.json
  scripts/publish-npm-and-docker.sh
Due: none

Fix paths for proper coverage report upload
  codecov.yml
Due: none

Path conditions:
  core: any of: core/
  cli: any of: cli/
