Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

Integrate codecov (#71)
  cli/.ci/script.sh
  cli/Dockerfile
  cli/package-lock.json
  cli/package.json
  codecov.yml
  core/.ci/script.sh
  core/Dockerfile
  core/package-lock.json
  core/package.json
Due: core, cli

Update test coverage badges
  cli/README.md
  core/README.md
Due: core, cli

Install bson package
  core/package-lock.json
  core/package.json
Due: core

Support EJSON in JSON files
  core/src/populator/filesystem.ts
  core/test/unit/FileSystem.ts
Due: core

Update integration tests
  README.md
  core/README.md
  core/package.json
  docker-image/test/_importdata/cliobjects/4-ejson-obj.json
  docker-image/test/tester/src/index.js
  docs/import-data-definition.md
Due: core

Update dependencies in tester
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/_importdata/cliobjects/4-ejson-obj.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  docker-image/test/tester/src/index.js
Due: core, cli

Fix tests for EJSON file
  docker-image/test/_importdata/cliobjects/4-ejson-obj.json
  docker-image/test/tester/src/index.js
Due: none

Support Extended JSON format in JSON files (#70)
  README.md
  cli/package-lock.json
  cli/package.json
  core/README.md
  core/package-lock.json
  core/package.json
  core/src/populator/filesystem.ts
  core/test/unit/FileSystem.ts
  docker-image/test/_importdata/cliobjects/4-ejson-obj.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  docker-image/test/tester/src/index.js
  docs/import-data-definition.md
Due: core, cli

Bump version to v3.2.0-alpha.0
  cli/package.json
  core/package.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  core/package-lock.json
  docker-image/test/tester/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.2.0
  cli/package.json
  core/package.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Do not print DB connection user credentials in logs
  core/src/database/database-connector.ts
  core/test/unit/DatabaseConnector.ts
Due: core

Do not print DB connection user credentials in logs (#74)
  core/src/database/database-connector.ts
  core/test/unit/DatabaseConnector.ts
Due: core

Define relation between post and categories in examples
  examples/import-data-ts/example/data/2-posts/posts.ts
  examples/import-data-ts/example/models/post.ts
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/data/2-posts/posts.js
  examples/import-data/example/helpers/index.js
Due: none

Define relation between post and categories in examples (#76)
  examples/import-data-ts/example/data/2-posts/posts.ts
  examples/import-data-ts/example/models/post.ts
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/data/2-posts/posts.js
  examples/import-data/example/helpers/index.js
Due: none

Read and use DB connection options
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/options.ts
  cli/src/types.ts
  cli/test/unit/options.ts
Due: cli

Fix test for CLI
  cli/src/options.ts
  core/README.md
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/test/unit/DatabaseConnector.ts
Due: core, cli

Fix CLI CI build
  cli/Dockerfile
  core/src/database/config.ts
  docker-image/dev.Dockerfile
Due: core, cli

Introduce DB connection options param (#80)
  cli/Dockerfile
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/options.ts
  cli/src/types.ts
  cli/test/unit/options.ts
  core/README.md
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/test/unit/DatabaseConnector.ts
  docker-image/dev.Dockerfile
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#81)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Comment Core API (including internal one)
  core/README.md
  core/src/common/logger.ts
  core/src/common/types.ts
  core/src/config.ts
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time-utils.ts
  core/src/database/time.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/index.ts
  core/src/populator/populator.ts
  core/src/transformer/collection-transformer.ts
  core/src/transformer/transformer-functions.ts
Due: core

Fix tests
  core/test/unit/DatabaseConnector.ts
  core/test/unit/time.ts
Due: core

Comment Core API (external and internal) (#82)
  core/README.md
  core/src/common/logger.ts
  core/src/common/types.ts
  core/src/config.ts
  core/src/database/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time-utils.ts
  core/src/database/time.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/filesystem.ts
  core/src/populator/index.ts
  core/src/populator/populator.ts
  core/src/transformer/collection-transformer.ts
  core/src/transformer/transformer-functions.ts
  core/test/unit/DatabaseConnector.ts
  core/test/unit/time.ts
Due: core

Bump version to v3.3.0-alpha.0
  cli/package.json
  core/package.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.3.0
  cli/package.json
  core/package.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Fix DeprecationWarning in new MongoDB
  cli/test/integration/index.ts
  core/src/database/database-connector.ts
  docker-image/test/tester/src/index.js
Due: core, cli

Fix DeprecationWarning in new MongoDB (#85)
  cli/test/integration/index.ts
  core/src/database/database-connector.ts
  docker-image/test/tester/src/index.js
Due: core, cli

Add ability to disable logs for CLI
  cli/README.md
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  cli/test/integration/index.ts
  cli/test/unit/options.ts
Due: cli

Add ability to disable logs for CLI (#86)
  cli/README.md
  cli/src/index.ts
  cli/src/options.ts
  cli/src/types.ts
  cli/test/integration/index.ts
  cli/test/unit/options.ts
Due: cli

Include ObjectId helpers in Core
  core/src/helpers/index.ts
  core/src/index.ts
  core/test/unit/helpers.ts
Due: core

Include ObjectId helpers in Core (#88)
  core/src/helpers/index.ts
  core/src/index.ts
  core/test/unit/helpers.ts
Due: core

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Update dependencies (#92)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Prepare script for updating dependencies
  .ci/update-packages.sh
  package.json
Due: none

Prepare script for updating dependencies (#93)
  .ci/update-packages.sh
  package.json
Due: none

Update examples for new Mongo Seeding version
  .ci/update-packages.sh
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  examples/custom-docker-image/sample-data/helpers/index.js
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/data/1-categories/additionalCategory.ts
  examples/import-data-ts/example/data/1-categories/testCategories.ts
  examples/import-data-ts/example/data/2-posts/posts.ts
  examples/import-data-ts/example/helpers/index.ts
  examples/import-data-ts/example/package.json
  examples/import-data/example/data/1-categories/additionalCategory.js
  examples/import-data/example/helpers/index.js
  examples/import-data/example/package.json
Due: core, cli

Bump version to v3.4.0-alpha.0
  cli/package.json
  core/package.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Path conditions:
  core: any of: core/
  cli: any of: cli/
