Repository pkosiec/mongo-seeding: changes, and which Codecov flags are due for each by the changed paths.
All: core, cli

codecov.yml:

coverage:
  status:
    project:
      default: off
      core:
        target: 90%
        flags: core
      cli:
        target: 90%
        flags: cli

flags:
  core:
    paths:
      - core/
  cli:
    paths:
      - cli/

Sort collections by order number
  core/src/common/types.ts
  core/src/populator/populator.ts
Due: core

Add unit test
  core/src/populator/populator.ts
  core/test/unit/CollectionPopulator.ts
Due: core

Update docs
  docs/import-data-definition.md
Due: none

Test getting collection metadata
  core/src/common/types.ts
  core/src/populator/populator.ts
  core/test/integration/CollectionPopulator.ts
  core/test/unit/CollectionPopulator.ts
Due: core

Sort MongoDB collections before data import (#95)
  core/src/common/types.ts
  core/src/populator/populator.ts
  core/test/integration/CollectionPopulator.ts
  core/test/unit/CollectionPopulator.ts
  docs/import-data-definition.md
Due: core

Bump version to v3.4.0-alpha.1
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  lerna.json
Due: core, cli

Allow passing insertMany options
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/test/unit/importer.ts
Due: core

Test passing custom MongoClient options
  cli/test/integration/index.ts
  core/README.md
  core/package.json
  core/src/transformer/index.ts
  core/src/transformer/transformer.ts
  core/test/integration/database-connector.ts
  core/test/integration/populator.ts
  core/test/unit/database-connector.ts
  core/test/unit/populator.ts
  core/test/unit/transformer.ts
Due: core, cli

Allow passing `MongoClient.connect` and `insertMany` options (#101)
  cli/test/integration/index.ts
  core/README.md
  core/package.json
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/transformer/index.ts
  core/src/transformer/transformer.ts
  core/test/integration/database-connector.ts
  core/test/integration/populator.ts
  core/test/unit/database-connector.ts
  core/test/unit/importer.ts
  core/test/unit/populator.ts
  core/test/unit/transformer.ts
Due: core, cli

Update examples for new Mongo Seeding version (#89)
  .ci/update-packages.sh
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  examples/custom-docker-image/sample-data/helpers/index.js
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/data/1-categories/additionalCategory.ts
  examples/import-data-ts/example/data/1-categories/testCategories.ts
  examples/import-data-ts/example/data/2-posts/posts.ts
  examples/import-data-ts/example/helpers/index.ts
  examples/import-data-ts/example/package.json
  examples/import-data/example/data/1-categories/additionalCategory.js
  examples/import-data/example/helpers/index.js
  examples/import-data/example/package.json
Due: core, cli

Update dependencies
  .ci/update-packages.sh
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data/example/package-lock.json
  package-lock.json
  package.json
Due: none

Update dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Downgrade MongoDB client to 3.3.2
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
Due: core, cli

Update dependencies (#96)
  .ci/update-packages.sh
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
  package-lock.json
  package.json
Due: core, cli

Bump version to v3.4.0-alpha.2
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  lerna.json
Due: core, cli

Fix CI scripts
  .ci/run_in_all_projects.sh
  cli/.ci/script.sh
  cli/Dockerfile
  core/.ci/script.sh
  docker-image/.ci/after_success.sh
  docker-image/.ci/script.sh
  docker-image/build.sh
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Due: core, cli

Fix CI scripts (#103)
  .ci/run_in_all_projects.sh
  cli/.ci/script.sh
  cli/Dockerfile
  core/.ci/script.sh
  docker-image/.ci/after_success.sh
  docker-image/.ci/script.sh
  docker-image/build.sh
  docker-image/dev.Dockerfile
  docker-image/prod.Dockerfile
Due: core, cli

Bump version to v3.4.0
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  lerna.json
Due: core, cli

Fix for the "return undefined issue"
  core/src/index.ts
Due: core

add logos logo-express-mongodb-mongoose-mongo-seeding.png
  docs/assets/logo-express-mongodb-mongoose-mongo-seeding.png
Due: none

mongo seeding cli -> add example using json to import data
  examples/import-data-json/README es.md
  examples/import-data-json/README.md
  examples/import-data-json/example/data/1-users/users.json
  examples/import-data-json/example/data/2-plates/plates.json
  examples/import-data-json/example/data/3-orders/orders.json
  examples/import-data-json/example/models/order.js
  examples/import-data-json/example/models/plate.js
  examples/import-data-json/example/models/user.js
Due: none

Update README.md
  examples/import-data-json/README.md
Due: none

Add example using Mongoose and Express
  docs/assets/logo-express-mongodb-mongoose-mongo-seeding.png
  examples/README.md
  examples/import-data-json/README es.md
  examples/import-data-json/README.md
  examples/import-data-json/example/data/1-users/users.json
  examples/import-data-json/example/models/plate.js
  examples/import-data-json/example/models/user.js
  examples/mongoose-express/README.md
  examples/mongoose-express/example/data/1-customers/users.json
  examples/mongoose-express/example/data/2-menus/menus.json
  examples/mongoose-express/example/data/3-orders/orders.json
  examples/mongoose-express/example/models/customer.js
  examples/mongoose-express/example/models/menu.js
  examples/mongoose-express/example/models/order.js
Due: none

Add example using Mongoose and Express
  examples/mongoose-express/README.md
Due: none

Update README.md
  examples/mongoose-express/README.md
Due: none

Fix passing MongoClient to DB connector
  cli/package-lock.json
  core/src/database/database-connector.ts
  core/src/index.ts
Due: core, cli

Fix passing MongoClient to DB connector (#110)
  cli/package-lock.json
  core/src/database/database-connector.ts
  core/src/index.ts
Due: core, cli

Fix JS data import example
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/helpers/index.js
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
Due: none

Fix JS data import example (#111)
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/helpers/index.js
  examples/import-data/example/package-lock.json
  examples/import-data/example/package.json
Due: none

Restore CLI logging enabled by default
  cli/test/integration/index.ts
  core/src/common/logger.ts
  core/src/database/database-connector.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/populator.ts
  core/test/unit/log.ts
Due: core, cli

Restore CLI logging enabled by default (#115)
  cli/test/integration/index.ts
  core/src/common/logger.ts
  core/src/database/database-connector.ts
  core/src/importer/index.ts
  core/src/index.ts
  core/src/populator/populator.ts
  core/test/unit/log.ts
Due: core, cli

Fix Codecov reports during CI job
  cli/.ci/script.sh
  core/.ci/script.sh
Due: core, cli

Fix Codecov reports during CI job (#113)
  cli/.ci/script.sh
  core/.ci/script.sh
Due: core, cli

Bump version to v3.4.1
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  lerna.json
Due: core, cli

Update all dependencies
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/integration/index.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Update all dependencies (#116)
  cli/package-lock.json
  cli/package.json
  core/package-lock.json
  core/package.json
  core/test/integration/index.ts
  docker-image/test/tester/package-lock.json
  docker-image/test/tester/package.json
  examples/custom-docker-image/sample-data/package-lock.json
  examples/custom-docker-image/sample-data/package.json
  examples/import-data-ts/example/package-lock.json
  examples/import-data-ts/example/package.json
  examples/import-data/example/package-lock.json
  package-lock.json
  package.json
Due: core, cli

Use native MongoDB retry
  core/README.md
  core/src/config.ts
  core/src/database/database-connector.ts
  core/src/database/database.ts
  core/src/database/index.ts
  core/src/database/time.ts
  core/src/index.ts
  core/test/integration/database-connector.ts
  core/test/integration/database.ts
  core/test/integration/index.ts
  core/test/unit/database-connector.ts
  core/test/unit/time.ts
Due: core
